body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    height: 100vh;
    background-color: #f0f0f0;
    widows: 3;
    orphans: 3;
    border: 0px solid blue;

}

header {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: inline;

}

.header {
    background-color: indigo;
    color: white;
    padding: 0 40px;
}

footer {

    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer {

    background-color: indigo;
    color: white;
    padding: 20px;
}

small {
    font-size: small;
}

h1 {
    font-size: 30px;
    padding: 0;
}


.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: center;
    border: 0px solid black;
    margin-top: 100px;
}

.center {
    margin: 0 auto;
    text-align: right;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 0px solid red;
}

#content-info {
    background-color: white;
    margin-left: 20px;
    font-size: 17px;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    width: 360px;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    width: auto;
    align-items: center;
    justify-content: center;


}

.boxstyle {

    text-align: center;
    word-break: keep-all;
    padding: 20px;
}

.box {
    width: 100px;
    height: 100px;
    border: 0px solid #aaa;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.green {
    background-color: #3df64a;
}

.greent {
    color: #3df64a;
}

.grey {
    background-color: #d1d1d1;
}

.red {
    background-color: crimson;
}

.redt {
    color: crimson;
}

.yellow {
    background-color: gold;
}

.blue {
    background-color: cornflowerblue;
}

.purple {
    background-color: darkorchid;
}

.purplet {
    color: darkorchid;
}

.orange {
    background-color: orange;
}

span {

    padding: 10px;
    line-height: 3;
}

.break {
    flex-grow: 1;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    aspect-ratio: 1;
    width: 400px;
    margin: 10% auto;
}

.modal-content h2 {
    font-size: 30px;
    background-color: indigo;
    color: white;
    margin: -30px -30px 30px -30px;
    padding: 30px;
    border-radius: 8px 8px 0 0;
}

.modal-content h3 {
    font-size: 30px;
    background-color: indigo;
    color: white;
    margin: -10px -10px 20px -10px;
    padding: 30px;
    border-radius: 8px 8px 0 0;
}

.modal-content p {
    font-size: 20px;
    line-height: normal;
    text-align: left;

}

.modal input {
    width: 95%;
    height: 40px;
    background-color: rgba(76, 0, 130, 0.3);
    border: 0 solid transparent;
    border-radius: 8px;
    padding: 8px;
    font-size: 20px;
    color: indigo;
    margin-bottom: 20px;
}

.modal button {
    margin-top: 10px;
    width: auto;
    height: 40px;
    background-color: indigo;
    border-radius: 8px;
    border: 1px solid transparent;
    color: white;

}

ul {
    margin: 0;
    padding: 17px 27px;
}

li {
    list-style: none;
    text-indent: -28px;
    margin-bottom: 15px;
}

#close {
    background-color: #bbbaba;
    height: 38px;
}

#timer {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 40px;
    margin-top: 10px;

}

#counter {
    font-size: 20px;
    margin-bottom: 10px;
    background-color: rgb(231, 207, 249);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: auto;
}

.bold {
    font-weight: bold;
}

button {
    margin: 10px;
    width: auto;
    height: 40px;
    background-color: indigo;
    border-radius: 8px;
    border: 1px solid transparent;
    color: white;
    font-size: 18px;
}

button:hover {
    margin: 10px;
    width: auto;
    height: 40px;
    background-color: rgba(76, 0, 130, 0.724);
    border-radius: 8px;
    border: 1px solid transparent;
    color: white;
    font-size: 18px;
}

select,
option,
#output {
    margin: 10px;
    width: auto;
    height: 40px;
    background-color: rgb(55, 0, 94);
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    padding: 8px;
    margin: 8px;
}

/* Tablet */

@media (max-width: 800px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}

/* Mobile */
@media (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* prevents box from click events */
.locked {
    pointer-events: none;
}