body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;

    background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    border: none;
    width: 100%;
}

header {
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    /* Add box shadow */
}

.header {
    background-color: #4b0082;
    color: white;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr;
    /* Three columns for items, one column for the right-aligned item */
    justify-content: flex-start;
    align-items: center;
}

.header .right-aligned {
    justify-self: end;
    /* Aligns the last item to the right within its grid cell */
}



header div {
    display: inline;
}

header h2 {
    content: ":";
    text-align: left;
    width: auto;
    padding-left: 20px;
    margin-right: 5px;
}

footer {
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 49;
    height: 40px;
    margin: left 0;
    margin-right: 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
    /* Add box shadow */

}


.footer {
    background-color: #4b0082;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    padding: 0 40px;
    margin: 0;
}

small,
.small {
    font-size: small;
}



h1 {
    font-size: 30px;
    padding: 0;
    display: block;
    line-height: normal;
    margin: 0;

}

main {
    width: 100%;
    background-color: 2px solid red;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: center;
    border: 0px solid black;
    margin-top: 100px;
    background-color: transparent;
    padding: 0;

}


.content-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    gap: 70px;
    margin: 20px;
}



#rules ul {
    margin: 0;
    padding: 17px 27px;
}

#rules li {
    list-style: decimal;
    text-indent: 0px;
    margin-bottom: 15px;

}




.center {
    margin: 0 auto;
    text-align: right;
}

.xwrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 0px solid red;
}

#content-info {
    background-color: white;
    margin-bottom: 50px;
    margin-top: 5px;
    font-size: 17px;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
    min-width: 360px;
    max-width: 960px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.large {
    font-size: larger;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    width: auto;
    align-items: center;
    justify-content: center;


}

.boxstyle {

    text-align: center;
    word-break: keep-all;
    padding: 0px;
}

.box {
    width: 130px;
    height: 130px;
    border: 0px solid #aaa;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    padding: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

}

.box:hover {
    filter: contrast(200%);
    transform: translateY(-2px);
}

.boxExpand {
    width: 260px;
    height: 260px;
}


.green {
    background-color: #3df64a;
}

.greent {
    color: #3df64a;
}

.grey {
    background-color: #d1d1d1;
}

.red {
    background-color: crimson;
}

.redt {
    color: crimson;
}

.yellow {
    background-color: gold;
}

.blue {
    background-color: cornflowerblue;
}

.purple {
    background-color: darkorchid;
}

.purplet {
    color: darkorchid;
}

.orange {
    background-color: orange;
}

span {

    padding: 10px;
    line-height: auto;
}

.break {
    flex-grow: 1;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-content {
    background-color: #fff;
    padding: 0px 30px 30px 30px;
    border-radius: 8px;
    text-align: center;
    aspect-ratio: 1;
    width: 400px;
    margin: 100px auto;
    z-index: 70;
}

.modal-content h1 {
    margin-top: 0px;
    padding: 30px;
    border: 0px solid black;
    color: indigo;
}

.modal-content h2 {
    font-size: 30px;
    background-color: indigo;
    color: white;
    margin: -70px -30px 30px -30px;
    padding: 40px 0 15px 0;
    border-radius: 0 0;
    height: 30px;
}

.modal-content h3 {
    font-size: 30px;
    background-color: indigo;
    color: white;
    margin: -10px -10px 20px -10px;
    padding: 10px 30px;
    border-radius: 8px 8px 0 0;
}

.modal-content h4 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: normal;
    color: indigo;
    background-color: #e7d0f7;
}

.modal-content-bg {
    background-color: rgb(231, 208, 247);
    border-radius: 0 0 8px 8px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.modal-content p {
    font-size: 20px;
    line-height: normal;
    text-align: left;

}

.modal input {
    width: 95%;
    height: 40px;
    background-color: rgba(76, 0, 130, 0.3);
    border: 0 solid transparent;
    border-radius: 8px;
    padding: 8px;
    font-size: 20px;
    color: indigo;
    margin-bottom: 20px;
}

.modal button {
    margin-top: 10px;
    padding: 10px 30px;
    width: auto;
    height: 40px;
    background-color: indigo;
    border-radius: 8px;
    border: 1px solid transparent;
    color: white;

}

.theAnswer {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    color: black;
}

.theQuestion {
    padding: 5px;
    background-color: white;
    width: 100%;

}

.hide {
    display: none;
}

.show {
    display: block;
}

#intro ul {
    margin: 0;
    padding: 17px 27px;
}

#intro li {
    list-style: none;
    text-indent: -28px;
    margin-bottom: 15px;
}

#game {
    margin-bottom: 100px;
}

#close {
    background-color: #bbbaba;
    height: 38px;
}

#timer {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 80px;
    background-color: #992be8;
    border-radius: 4px;
    padding: 5px;
    z-index: 60;
}

.timer {
    margin-right: 40px;
}

#counter,
#stats {
    font-size: 20px;
    margin-bottom: 10px;
    background-color: rgb(231, 207, 249);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: auto;
}



.bold {
    font-weight: bold;
}

button {
    margin: 10px;
    width: auto;
    height: 40px;
    background-color: indigo;
    border-radius: 8px;
    border: 1px solid transparent;
    color: white;
    font-size: 18px;
}

button:hover {
    margin: 10px;
    width: auto;
    height: 40px;
    background-color: rgba(76, 0, 130, 0.724);
    border-radius: 8px;
    border: 1px solid transparent;
    color: white;
    font-size: 18px;
}

select,
option,
#output {
    margin: 10px;
    width: auto;
    height: 40px;
    background-color: rgb(55, 0, 94);
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    padding: 8px;
    margin: 8px;
}

.topics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.readymsg {
    font-size: 24px;
    text-align: center;
}

.topic-box {
    width: 150px;
    height: 150px;

    background-color: indigo;
    color: white;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;

    transition: all 0.3s ease;
}

.topic-box:hover {
    background-color: #992be8;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.topic-icon {
    font-size: 48px;
    margin-bottom: 10px;
}

.topic-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.boxQuestionNumber {
    margin: 0;
    padding: 0;
    font-size: 18px;


}

#currentTopic {
    font-size: 18px;
    color: white;
    font-weight: 100;
}

.boxcurrentTopic {
    font-size: 14px;
    color: black;
    font-weight: 100;
    width: 100%;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
}

#play,
.play {
    display: none;
    width: 50%;
    height: 50px;
    background-color: #FFA500;
    /*  background-color: rgb(231, 208, 247);*/
    color: black;
    margin: 0 auto;
    transition: background-color 0.3s ease;

}

#play:hover {
    background-color: #ff6a00;
    /* Change to a lighter shade on hover */
}

/* Tablet */

/*@media (max-width: 800px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}
*/

/* Mobile */
@media (max-width: 600px) {

    section {
        border: 0px solid red;
        margin-top: 90px;
    }


    header {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        gap: 0px;
        margin: 0 auto;
        padding: 0;
    }

    p,
    p.bold.purplet {
        font-size: 14px;
    }

    .purplet.bold.large {
        font-size: 24px;
        margin-top: 0px;
    }

    #title {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        margin: 0;
        padding-left: 20px;

    }

    #topic {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        margin: 0;
        padding-left: 20px;
    }

    #timer {
        grid-column: 2;
        grid-row: 1 / span 2;
        display: grid;
        place-items: center;
        /* Center content both vertically and horizontally */
        font-size: 24px;
        padding: 0;
        margin-right: 20px;
        max-height: 40px;
        width: 40px;
    }



    h2#topic {
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    h1#title {
        margin-top: 20px;
        font-size: 18px;

    }

    .container,
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Two columns */
        gap: 0px;

    }

    main.container,
    .content-column {
        display: block;
        margin: 0 auto;
    }

    .grid {
        margin-bottom: 50px;
    }

    div#dataset-select.container.topics>div {
        padding: 10px;
        width: 100px;
        height: 100px;
    }


    .topic-icon {
        font-size: 48px;
        margin-top: 10px;
        margin-bottom: 0px;
        padding: 0;
    }

    .topic-text {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    footer,
    small,
    .small,
    footer p {
        font-size: 8px;
        height: 30px;
    }

    div.footer-item {
        margin-top: 20px;
        padding: 0 10px;
        font-size: 8px;
        width: max-content;
    }


    #content-info {
        background-color: white;
        display: block;
        margin: 0 auto 50px auto;
        font-size: 17px;
        border-radius: 8px;
        padding: 20px;
        height: 100%;
        min-width: 260px;
        max-width: 280px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    }

    #question,
    #response {
        font-size: 18px;
        padding-top: 0px;
    }

    button {
        background-color: #992be8;
    }

    .theAnswer,
    .theQuestion {
        font-size: 13px;
        margin: 0;
        padding: 5px;
    }

    .theAnswer {
        font-size: 16px;
        margin-top: 0;
        padding: 5px;
    }

    div#counter {
        text-align: left;
        font-size: 14px;
    }

    span.bold {
        padding: 0 5px;
    }

    #counter div,
    #counter span {
        padding: 5px;
        margin: 0;
    }



    .modal button {
        width: 100%;
        margin: 5px 0;
    }


    /*
    .modal-content h2 {
        margin-top: -95px;
        padding-top: 60px;
        margin-bottom: 0;
        padding-bottom: 15px;
        background-color: #FFA500;
        height: 35px;
    }

*/

    .box {
        height: 150px;
        width: 150px;
        aspect-ratio: 1;
        padding: 0;
        margin: 10px auto;
    }

    .modal {
        margin: 40px auto;
        padding: 0px;
        width: 100%;
    }

    div.modal-content {
        width: 70%;
        margin: 50px auto;
        z-index: 80;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    }



    #modalTimeOut {
        margin-top: 40px;
    }

    #stats p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: normal;
    }

}




/* prevents box from click events */
.locked {
    pointer-events: none;
}


/* timer*/

#topic {
    font-size: 30px;
    color: rgb(231, 208, 247);
    display: block;
    font-weight: 100;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 0px rgba(255, 255, 0, 0.7);
    }

    50% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.9);
    }

    100% {
        box-shadow: 0 0 10px 0px rgba(255, 255, 0, 0.7);
    }
}

footer a {
    color: #e7d0f7;
    font-weight: 700;
    text-decoration: none;
}